@font-face {
  font-family: 'mrakus';
  src: url('../font/mrakus.eot');
  src: url('../font/mrakus.eot') format('embedded-opentype'),
    url('../font/mrakus.ttf') format('truetype'),
    url('../font/mrakus.woff') format('woff'),
    url('../font/mrakus.woff') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mrakus' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-90deg-right-svgrepo-com:before {
  content: "\e91a";
}

.icon-check-svgrepo-com:before {
  content: "\e917";
}

.icon-email-mail-svgrepo-com:before {
  content: "\e918";
}

.icon-phone-svgrepo-com:before {
  content: "\e919";
}

.icon-address:before {
  content: "\e900";
}

.icon-telephone:before {
  content: "\e901";
}

.icon-chat-svgrepo-com:before {
  content: "\e902";
}

.icon-comment-minus-svgrepo-com:before {
  content: "\e903";
}

.icon-map-pin-svgrepo-com:before {
  content: "\e904";
}

.icon-user:before {
  content: "\e905";
}

.icon-email-svgrepo-com:before {
  content: "\e906";
}

.icon-search-1:before {
  content: "\e907";
}

.icon-email-svgrepo-com-2:before {
  content: "\e908";
}

.icon-credit-card-business-payment-finance-banking-2-svgrepo-com:before {
  content: "\e909";
}

.icon-design-svgrepo-com:before {
  content: "\e90a";
}

.icon-diagram-business-presentation-chart-graph-infographic-svgrepo-com:before {
  content: "\e90b";
}

.icon-diagram-order-svgrepo-com:before {
  content: "\e90c";
}

.icon-happy-svgrepo-com:before {
  content: "\e90d";
}

.icon-office-interaction-communication-business-connection-2-svgrepo-com:before {
  content: "\e90e";
}

.icon-pie-chart-business-and-finance-svgrepo-com:before {
  content: "\e90f";
}

.icon-pie-chart-seo-and-web-svgrepo-com:before {
  content: "\e910";
}

.icon-search-research-svgrepo-com:before {
  content: "\e911";
}

.icon-target-svgrepo-com:before {
  content: "\e912";
}

.icon-worker-image-on-card-svgrepo-com:before {
  content: "\e913";
}

.icon-circuit-svgrepo-com:before {
  content: "\e914";
}

.icon-pie-chart-svgrepo-com:before {
  content: "\e915";
}

.icon-text-quote-svgrepo-com:before {
  content: "\e916";
}